body{
    background-color: rgb(92, 152, 204);
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('фон-фото.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 200px;
}

.img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1{
    color: rgb(110, 39, 186);
}

.git-link{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 22px;
    width: 200px;
    height: 80px;
    background-color: rgb(71, 182, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: rgb(136, 14, 0);

}

a:hover{
    color: rgb(185, 64, 255);
}

.first{
    color: yellow;
    font-size: 22px;
}

.second{
    color: red;
    font-size: 22px;
}

.third{
    color: green;
    font-size: 22px;
}

button{
    background-color: rgb(249, 117, 117);
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 16px;    
}
button:hover{
    background-color: aqua;
}

.add{
    position: absolute;
    width: 300px;
    height: 470px;
    top: 250px;
    left: 20px;
    font-size: 20px;

    line-height: 1.3;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.add{
    background: rgba(255, 255, 255, 0.004); /* полупрозрачный белый */
    backdrop-filter: blur(10px); /* размытие фона */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}  