body{
    margin: 0;
}

.box{
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: transform 1s ease;
}

.box:hover{
    transform: scale(1.1);
}

.box1{
    grid-column: span 2;
}

.box4{
    grid-row: span 3;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    align-content: center;
    gap: 10px;
    height: 100vh;
}